h1{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    
}
h2{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
}
h3{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h4{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    color: #9c5283;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-align: justify;
 
    
}
